ClienteProyecto/ClienteProyecto/Connected Services/ServiceReference4/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ADO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ADO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Jugador">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Puntuacion" nillable="true" type="tns:ArrayOfPuntuacion" />
      <xs:element minOccurs="0" name="campania" type="xs:int" />
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="fichaCampania" type="xs:int" />
      <xs:element minOccurs="0" name="idioma" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="partidasJugadas" type="xs:int" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Jugador" nillable="true" type="tns:Jugador" />
  <xs:complexType name="ArrayOfPuntuacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Puntuacion" nillable="true" type="tns:Puntuacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPuntuacion" nillable="true" type="tns:ArrayOfPuntuacion" />
  <xs:complexType name="Puntuacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Jugador" nillable="true" type="tns:Jugador" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="puntuacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Puntuacion" nillable="true" type="tns:Puntuacion" />
</xs:schema>